#loading-img {
    background: url("loading.gif") center center no-repeat;
    height: 100%;
    z-index: 1061;
}

.overlay {
    background: rgba(0, 0, 0, 0.25);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1060;
}

.clearFix{
  clear: left;
}

.layoutBody{
  padding: 2.5vw;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Indie Flower', cursive;
}

.pageWrapper{
  width: 100%;
  height: 100%;
}

.colNumber-3{
  width : 33%;
  height : 100%;
/*  background-color:blue;*/
  float: left;
}

.colNumber-2{
  width : 50%;
  height : 100%;
/*  background-color:blue;*/
  float: left;
}


.title1, .title4{
/*  text-align: center;*/
  font-size: 45px;
  word-spacing : 11px;
  padding-left: 5px;
}

div[class^=title]{
  font-size: 45px;
  word-spacing : 11px;
  padding-left: 5px;
}
div[class^=subtitle]{
  font-size : 20px;
  padding: 5px; 
}

/*.groupTitle1{
  font-size: 30px;
  world-spaceing : 9px;
  padding-left: 5px;
}
.groupSubtitle1{
  font-size : 15px;
  padding: 5px;
}
*/

div[class^=groupTitle]{
  font-size: 2.3vw;
  word-spacing : 9px;
  padding-left: 5px;
}

div[class^=groupSubtitle]{
  font-size: 1.2vw;
  padding: 0.1vw;
}

.subTitle1, .subTitle4{
  font-size : 20px;
  padding: 5px;
}

.item{
/*  padding: 9px 5px 9px 5px;
  font-size: 23px;*/
  padding: 0.75vw 0.5vw;
  font-size: 1.5vw;
  font-weight: 600;
}

.product1, .product2, .product3, .product4{
 /* padding: 20px;*/
 padding: 2vh;
  z-index : 1;
}

.productName{
  float: left;
}

.productPrice{
  float: right;
}

.promotionMessage{
  float: left;
  color: red;
  font-size: 1.5vw;
}

.image1,.image2, .image3{
  z-index: -5;
  text-align: center;
}

.colNumber-1{
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.colNumber-1 img{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.image3{
  position: absolute;
  bottom: 0px;
}

img[class^=column-image-]{
  width: 10vw;
  height: auto;
}

.withBorder{
  margin: 1px;
  border: 4px solid;
  border-radius: 25px;
}

#price{
  padding: 0px 5px 0px 5px;
}

#promoPrice{
  color: red;
}

.onPromo{
  text-decoration: line-through;
}

/*div[id^=colNumber-]{
  padding: 30px;
}*/
/*span[id^=price]{
  padding: 0px 5px 0px 5px;
}
*/
