.modal { overflow: auto !important; }

table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
tr th{
  text-align:center;
}

.table-bordered {
    border: 1px solid rgba(158, 158, 158, 0.42);
}

.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 0.5px solid rgba(158, 158, 158, 0.42);
}

.sparkline canvas{
  width: auto !important;
}

#advertisementTbl td:first-child, td:nth-last-child(2) {
    text-align: center;
}

.deleteAdvButton, .editAdvButton, .deletePageButton, .editPageButton, .customizePageButton{
  margin: 2px;
}

form .error {
  color: #ff0000;
}

#loading-img {
    background: url("loading.gif") center center no-repeat;
    height: 100%;
    z-index: 1061;
}

.overlay {
    background: rgba(0, 0, 0, 0.25);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1060;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.addBtn-adv{
	display: inline-block;
	float: right;
	padding-top: 15px;
	display: none;
}

.saveBtn-adv, .cancelBtn-adv{
	display: inline-block;
	visibility: hidden;
}

#saveCustomerModalBtn{
  display:none;
  float: right;
  margin: 0px 2px 0px 2px;
}

#addCustomerModalBtn{
  float: right;
  margin: 0px 2px 0px 2px;
}

#deleteCustomerModalBtn{
  display:none;
  float:right;
  margin: 0px 2px 0px 2px;
}

#editCustomerModalBtn{
  display:none;
  float:right;
  margin: 0px 2px 0px 2px;
}

#closeCustomerModalBtn{
  float:right;
   margin: 0px 2px 0px 2px;
}

#customerDetailModalTitle{
  display: inline-block;
}

#loader,#loader_error {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 0px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #db3434;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.statusFull{
	color: #0099ef;
}
.statusHigh{
	color: #ffc600;
}
.statusNormal{
	color: green;
}
.statusLow{
	color: red;
}

/*div.box-footer.changePw{
	text-align: center;
} */

.notification-line{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[id="currentPw"], input[id="newPw"],input[id="confirmPw"]{
    width: 250px;
}

.onTarget{
  background: green;
  padding: 3px;
  border-radius: 100%;
  color: white;
}

.warning{
  font-size: 21px;
  color: yellow;  
}

#topOutlet tr:first-child th{
  text-align: center;
}

i.fa.fa-clone:before{
  content:"\f0c5" !important;
}

i.fa.fa-Dashboard:before{
  content:"\f201";
}

.fa-Advertisement:before{
  content: "\f03e";
}

.fa-InventoryCMS:before{
  content: "\f00b";
}

i.fa.fa-PurchaseOrderSystem:before{
  content: "\f07a";
}

i.fa.fa-Catalog:before{
  content: "\f02d";
}

i.fa.fa-Inventory:before{
  content: "\f187";
}

i.fa.fa-Vendor:before{
  content: "\f0d1";
}

i.fa.fa-Leave:before{
  content: "\f073";
}
i.fa.fa-TopUp:before{
  content: "\f102";
}
i.fa.fa-Employees:before{
  content: "\f0c0";
}
i.fa.fa-EMenu:before{
  content : "\f022";
}
i.fa.fa-CashInventory:before{
  content : "\f187";
}
i.fa.fa-SecurityAccessControl:before{
  content : "\f132";
}
i.fa.fa-Location:before{
  content : "\f124";
}
i.fa.fa-Configuration:before{
  content : "\f0ad";
}
i.fa.fa-Control:before{
  content : "\f013";
}
i.fa.fa-Reporting:before{
  content : "\f15b";
}
i.fa.fa-Transaction:before{
  content : "\f155";
}
i.fa.fa-Application:before{
  content : "\f1c6";
}

#customerTbl th{
  text-align:center;
}

#coinInventoryTbl th{
  text-align:center;
}

#stockBalanceBody{
  text-align:center;
}

#stockBalanceSelection{
  width: 200px;
  display: inline-block;
}

#stockBalanceProductModal{
  width: 100px;
  display : inline-block;
}

.stockBalance-rightArrow{
  display: inline-block;
  padding: 0px 25px;
}
.stockBalance-rightArrow i{
  font-size: 25px !important;
}

#stockBalanceResults{
  padding-top: 30px;
  display:none;
}

#productName{
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
}

.stockBalance-quantity{
  display:inline-block;
  border-right: 1px solid #ddd;
  padding: 10px;
  width: 200px;
}

.stockBalance-quantity span:first-child, .stockBalance-uom span:first-child{
  font-size: 20px;
}

.stockBalance-quantity span:last-child, .stockBalance-uom span:last-child{
  font-size: 50px;
}

.stockBalance-uom{
  display: inline-block;
  border-left: 1px solid #ddd;
  padding: 10px;
  width: 200px;
}

.box-header h3, .box-header h4{
  margin: 10px 0 5px 0;
}

.box-header h4{
  display: inline-block;
}

.box-header .addNewCustomerBtn, .box-header .addNewPRBtn, .box-header .addNewVendorBtn{
  display:inline-block;
  padding: 10px;
  float: right;
}

.applicantList{
  font-weight: 600;
}

#newLeaveForm #reasonDiv,#newLeaveForm #leaveStatus,#newLeaveForm #applyDateDiv,#newLeaveForm #attachmentAnchor{
  display :none;
}

#approveBtn, #rejectBtn, #voidBtn{
  display: none;
}

.headerBtn{
  display: inline-block;
  float: right;
  margin: 0px 2px 0px 2px;
}

#pagesTbl,#pagesTbl thead tr th{
  text-align:center;
}

#step4formGroup div.radio{
    display: inline-block;
    padding-left: 20px;
}

.select2-container{
  width: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
  color: black;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
  overflow-y: scroll;
  max-height: 150px;
  /* height: 60px; */
}

/* language */
.languageSelection{
  float:right;
}
.multiLanguageText{
  float:right;
  color:red;
}
.languageTextarea{
  display:none;
}
/* end language*/

@media (min-width: 768px) {
  .vendorInput{
    width: 69% !important;
  }
  .vendorlbl{
    width: 30% !important;
  }
}